{% extends "base.html" %}
{% load compress %}
{% load bootstrap4 %}
{% block title %}Campaigns{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h1 class="page-header">Campaigns</h1>
    <div class="pull-right">
      <button type="button" class="btn btn-secondary">Find group</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#campaignForm">New Campaign</button>
    </div>
  </div>
  <div class="col-lg-8">
    {% if not playing and not gming %}
    <p>You currently are not registered to any campaigns. Maybe try finding a group or create your own</p>
    {% else %}
      {% for obj in gming %}
      {% endfor %}

      {% for obj in playing %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

{% include "partials/modal_form.html" with form=form id="campaignForm" namespace="campaigns:overview" title="New campaign" %}
{% endblock %}

{% block js %}
{% compress js inline %}
<script type="text/javascript">
{% if form.errors%}
$("#campaignForm").modal("show");
{% endif %}
</script>
{% endcompress %}
{% endblock %}